body {
    font-family: 'Akaya Kanadaka', cursive;
}

h1 {
    font-size: 46px;
    text-align: center;
    background-color:lightslategray;
    color: aliceblue;
    font-weight: 200;
}

h2 {
    background-color: aquamarine;
    color: brown;
    font-size: 36px;
    text-align: center;
}

.para {
    background-color: lightgoldenrodyellow;
    color: mediumslateblue;
}